<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="36x36" href="/images/favicon.png"> -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <!-- fontawsome -->
    <link rel="stylesheet" href="../public/css/fontawsome/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/solid.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/brands.min.css">
    <!-- plugins -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Griffy&display=swap" rel="stylesheet">
    <!-- main Styles -->
    <link rel="stylesheet" href="../public/font/flaticon.css">
    <link rel="stylesheet" href="../public/css/colors/color.css">
    <link rel="stylesheet" href="../public/css/sucess.css">
    <link rel="stylesheet" href="../public/css/new-preloader.css">
    <title> | success page  | </title>
</head>
<body >



<!--//////////////////////Home Section/////////////////////////// */
/* //////////////////////Home Section/////////////////////////// */ -->

<section class="header-404" id="header-404">
<div class=" container-fluid">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-5 col-sm-12  text-center welcomeText ">
            <div class="succes-div p-5">
               <h5 class="mt-3 text-light">this  Resturant not open right now please comeback when open </h5>
                
               <ul class="open-hours mt-1 text-light">
                  <li class="d-flex"><span class="days" >Monday : </span><span class="time text-primary ">09:00 am - 09:30 pm</span></li>
                  <li class="d-flex"><span class="days" >Tuesday : </span><span class="time text-primary ">09:00 am - 09:45 pm</span></li>
                  <li class="d-flex"><span class="days" >Wednesday : </span><span class="time text-primary ">09:00 am - 04:15 pm</span></li>
                  <li class="d-flex"><span class="days" >Thursday : </span><span class="time text-primary ">09:00 am - 07:45 pm</span></li>
                  <li class="d-flex"><span class="days" >Friday : </span><span class="time text-primary ">06:00 am - 11:00 pm</span></li>
                  <li class="d-flex"><span class="days" >Saturday : </span><span class="time text-primary ">9:00am - 02:00pm</span></li>
                  <li class="d-flex"><span class="days" >Sunday : </span><span class="time text-primary "> 11:00 am - 5:00 pm</span></li>
              </ul>
              
            </div>
          </div>
      </div>
  </div>
</section>

<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////// -->


  <!-- bootstrap -->
  <script src="../public/js/bootstrap/jquery-3.5.1.js"></script>
  <script src="../public/js/bootstrap/popper.min.js"></script>
  <script src="../public/js/bootstrap/bootstrap.min.js"></script>
  <!-- fontawsome -->
  <script src="../public/js/fontawsome/fontawesome.min.js"></script>
  <script src="../public/js/fontawsome/solid.min.js"></script>
  <script src="../public/js/fontawsome/brands.min.js"></script>
  <!-- plugins -->
  <!-- <script src="../js/plugins/vegas.js"></script>
  <script src="../js/plugins/bootstrap-datepicker.js"></script>
  <script src="../js/plugins/jquery.timepicker.min.js"></script>
  <script src="../js/plugins/jquery.nice-select.js"></script>
  <script src="../js/plugins/owl.carousel.min.js"></script>
  <script src="../js/scrollax.min.js"></script>
  <script src="../js/plugins/slick.min.js"></script> -->
  
  <!-- main Styles --> 
  <!-- <script src="../public/js/custom.js"></script>
  
  <script>

    /* 1. Preloder */
    $(window).on('load', function () {
        $('#preloader-active').delay(1050).fadeOut('slow');
        $('body').delay(850).css({
          'overflow': 'visible'
        });
      });

  </script> -->
  
  

  </body>
  </html>