<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="36x36" href="/images/favicon.png"> -->
    <!-- fontawsome -->
    <link rel="stylesheet" href="../public/css/fontawsome/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/solid.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/brands.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- ////////////// -->
    <link rel="stylesheet" href="../public/css/test.css">

    <title> test </title>

</head>
<body>


<ul> 
    <div data-bg="../public/photos/menu/New/1.jpg" >
        <a href="#!"> home </a>
    </div>

    <div data-bg="../public/photos/menu/New/2.jpg" >
        <a href="#!"> about </a>
    </div>

    <div data-bg="../public/photos/menu/New/3.jpg" >
        <a href="#!"> portofolio </a>
    </div>

    <div data-bg="../public/photos/menu/New/4.jpg" >
        <a href="#!"> test </a>
    </div>

    <div data-bg="../public/photos/menu/New/5.jpg" >
        <a href="#!"> contact </a>
    </div>

</ul>


<!-- bootstrap -->
<script src="../public/js/bootstrap/jquery-3.5.1.js"></script>
<script src="../public/js/bootstrap/popper.min.js"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script src="../public/js/fontawsome/fontawesome.min.js"></script>
<script src="../public/js/fontawsome/solid.min.js"></script>
<script src="../public/js/fontawsome/brands.min.js"></script>
    <script>

        const body = document.querySelector("body");
        const div = document.querySelectorAll("div");
        
        div.forEach(el => {
            el.addEventListener("mouseover" , () => {
                let bg = el.getAttribute("data-bg");
                body.style.background = `linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)), url(${bg}) no-repeat center / cover`;

            });
        });


    </script>
  </body>
  </html>
