
<section class="doc-photo ">
    <div class="container">
      <!-- <h1 class="text-center ">mostafa</h1> -->
      <div class="text-center doc-photo-marg">
        <img class=" doctors-img-pre  ml-auto img-fluid img-responsive" src="../public/photos/imgs/takeaway-catering-logo-large.png" width="100px" height="100px" alt="doctors">
        <p class="p_has_fs">We care about your mental health </p>
      </div>
    </div>
  </section>
  

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path  fill="#eb102d" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
  </svg>
  <footer class="pt-4 section footer-classic context-dark bg-image p-5">
      
      <div class="container">
        <div class="row row-30">
          <div class="col-lg-3 col-md-6 col-sm-12 ">    
  
            <div class="pr-xl-4"><a class="footer-brand" href="index.html"><h1 style="color: #ffffff;">Wagabat</h1></a>
              <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
            <img class="img-fluid img-responsive" src="../public/photos/footer-img-300x134.png" alt="">
            <div class=" mr-3 social">
              <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-twitter"></i></a>
              <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-facebook"></i></a>
              <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-instagram"></i></a>
            </div>
  
            </div>
          </div>
        <!-- /////////////////////////////// -->
          <div class="col-lg-3 col-md-6 col-sm-12 text-center footer-marg">
            <h5>POPULAR CITIES</h5>
            <ul class="nav-list ">
              <li><a href="#">10th of ramadan</a></li>
              <li><a href="#">Alf maskan</a></li>
              <li><a href="#">zagazeg</a></li>
              <li><a href="#">alexandria</a></li>
              <li><a href="#">the red sea</a></li>
            </ul>
            <a class="about-link " href="index.html">
               <h3 class="text-light mt-2" style="font-family: 'La Belle Aurore', cursive!important;"> Wagabat </h3>
            </a> 
  
          </div>
            <!-- //////////////////////////// -->
                <!-- /////////////////////////////// -->
          <div class="col-lg-3 col-md-6 col-sm-12 text-center footer-marg">
            <h5>MENU</h5>
            <ul class="nav-list ">
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">HOW IT WORKS</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
            <a class="about-link " href="index.html">
            </a> 
  
          </div>
            <!-- //////////////////////////// -->
            <div class="col-lg-3 col-md-6 col-sm-12 ">
              <h5>CONTACTS</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>798 South Park Avenue, Jaipur, Raj</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">TAKE_AWAY@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">01064697587</a> <br> <span>or</span> <br> <a href="tel:#">01143067577</a>
                </dd>
              </dl>
            </div>      
            <!-- //////////////////////////// -->
        </div>
        <!-- ///////////////////////// -->
  
        <hr style="background-color: rgb(255, 255, 255);">
        <div class="row p-3">
          <h6 class="mt-3 ml-3 ">Copyright ©2020 All rights reserved | This template is  made  by <a href="https://www.facebook.com/mostafa.emadgomaa">HTI STUDENT </a>  </h6>
          <span class="ml-auto mr-3" class="socials">
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-twitter"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-facebook"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-google-plus"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-pinterest"></i></a>
            <a target="_blank" href="#"><i class=" footerSocialIcon mt-3 m-1 fab fa-dribbble"></i></a>
  
          </span>
        </div>
  
  
        <div class="element">
  
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
    
        </div>
  
  
  
      </div>
  
      
  
    </footer>

<script src="../public/js/bootstrap/jquery-3.5.1.js"></script>
<script src="../public/js/bootstrap/popper.min.js"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>

<!-- fontawsome -->

<script src="../public/js/fontawsome/fontawesome.min.js"></script>
<script src="../public/js/fontawsome/solid.min.js"></script>
<script src="../public/js/fontawsome/brands.min.js"></script>

{# inc custome js #}

</body>
</html>