<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="photos/favicon-32x32.png">
    <!-- <link rel="icon" type="image/png" sizes="36x36" href="/images/favicon.png"> -->
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <!-- fontawsome -->
    <link rel="stylesheet" href="../public/css/fontawsome/fontawesome.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/solid.min.css">
    <link rel="stylesheet" href="../public/css/fontawsome/brands.min.css">
    <!-- plugins -->
    <link rel="stylesheet" href="../public/css/plugins/vegas.css">
    <link rel="stylesheet" href="../public/css/plugins/nice-select.css">
    <!-- main Styles -->
    <link rel="stylesheet" href="../public/font/flaticon.css">
    <link rel="stylesheet" href="../public/css/colors/color.css">
    <link rel="stylesheet" href="../public/css/style.css">
    {# inc custome css #}
    <link rel="stylesheet" href="../public/css/new-preloader.css">
    <title> wagabatk  </title>
  
</head>
<body>

<!-- ? Preloader Start -->
   <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text ">
                <img src="../public/photos/new/preloader.gif" alt="loader">
            </div>
        </div>
    </div>
</div> 
<!-- Preloader end -->