<nav class=" col-lg-12 navbar navbar-expand-lg navbar-dark ftco_navbar p-2  position-fixed ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="../public/photos/imgs/takeaway-catering-logo-large.png" alt="logo" width="130px" height="100px" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> <i class="fa fa-bars"></i> </span> 
      </button>
      <div class="collapse navbar-collapse ml-auto" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active hover-this"><a href="index.html" class="nav-link ">Home</a></li>
          <li class="nav-item hover-this"><a href="about.html" class="nav-link">about us</a></li>
          <li class="nav-item hover-this"><a href="how it work.html" class="nav-link">How It Works</a></li>
          <li class="nav-item hover-this"><a href="faqs.html" class="nav-link">FAQS</a></li>
        <li class="nav-item hover-this"><a href="contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item hover-this"><a href="new login.html" class="nav-link  "> logIn/signUp </a></li>

        <li class="nav-item ml-5 ">
         
        </li>

          
        </ul>
      </div>
      </div>
  </nav>
<!-- END nav -->